.box{
    border: 1px solid black;
    max-height: 100px;
    overflow: scroll;
}
.box2{
    border: 1px solid black;
    max-width: 100px;
    /* overflow: scroll; */
}
.box3{
    border: 1px solid black;
    min-height: 200px;
}