*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    margin: 10px;
}

.container{
    border: 1px solid black;
    height: 8000px;
    background-color: bisque;
}

.box{
    height: 5000px;
    background-color: aquamarine;
}

.photo1{
    position: absolute;
    top: 100px;
    left: 100px;
    position: fixed;
}

 .photo2{
    position: sticky;
    top: 400px;
}
/*
.photo3{
    position: relative;
    top: 100px;
    left: 100px;
}

.photo4{
    position: relative;
    top: 100px;
    left: 100px;
} */